{{ define "main" }}
  {{ $isTocEnabled := or (.Params.toc) (and (.Site.Params.toc) (or (not (isset .Params "toc")) (.Params.toc))) }}

  {{ .Scratch.Set "isTocEnabled" $isTocEnabled }}


  <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <div
          {{ if $isTocEnabled }}
            class="col-md-9 col-lg-9"
          {{ else }}
            class="col-md-12 col-lg-10"
          {{ end }}
        >
          <h2 class="mx-0 mx-md-4">
            {{ .Title }}
          </h2>

          <div class="mb-4 mb-md-5 meta">
            <span
              class="date"
              title="{{ time.Format "Jan 2006" .Params.startdate }}"
              >
              {{ time.Format "Jan 2006" .Params.startdate }}
            </span>
            {{ if .Params.giturl }}
            <a href="{{ .Params.giturl }}">{{ .Params.giturl }}</a>
            {{ end }}

            {{ if not .Params.noauthor }}
              {{ if .Params.author }}
                <span class="author middot" title="{{ .Params.Author }}">
                  {{ .Params.author }}
                </span>
              {{ end }}
            {{ end }}

            <div class="d-none d-md-inline tags">
              <ul class="list-unstyled d-inline">
                {{ range .Params.tags }}
                  <li class="d-inline middot">
                    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
                      {{ . }}
                    </a>
                  </li>
                {{ end }}
              </ul>
            </div>

            <div class="d-none d-md-inline tags">
              <ul class="list-unstyled d-inline">
                {{ if isset .Params "hacker_news_id" }}
                  {{ if ne .Params.hacker_news_id "" }}
                    <li class="d-inline middot">
                      <a
                        href="https://news.ycombinator.com/item?id={{ .Params.hacker_news_id }}"
                      >
                        Hacker News
                      </a>
                    </li>
                  {{ end }}
                {{ end }}
                {{ if isset .Params "lobsters_id" }}
                  {{ if ne .Params.lobsters_id "" }}
                    <li class="d-inline middot">
                      <a href="https://lobste.rs/s/{{ .Params.lobsters_id }}">
                        Lobsters
                      </a>
                    </li>
                  {{ end }}
                {{ end }}
              </ul>
            </div>
          </div>

          <div class="markdown">
            {{ partial "content" . }}
          </div>
        </div>

        {{ if $isTocEnabled }}
          <div class="col-sm-12 col-md-3">
            {{ replace .TableOfContents "id=\"TableOfContents\"" "id=\"TableOfContents\" class=\"sticky-top\"" | safeHTML }}
          </div>
        {{ end }}
      </div>

      <div
        class="row {{ if not $isTocEnabled }}justify-content-center{{ end }}"
      >
        <div
          {{ if $isTocEnabled }}
            class="col-md-9 col-lg-9"
          {{ else }}
            class="col-md-12 col-lg-10"
          {{ end }}
        >
          {{ if .Site.Params.projects_navigation }}
          {{- $pages := ($.Site.GetPage "section" .Section).Pages.ByParam "startdate" }}
          {{- $.Scratch.Set "curPosition" 0 }}
          {{- $.Scratch.Set "index" 0 }}
          {{- range $pages }}
          {{- if eq $ . }}
          {{- $.Scratch.Set "curPosition" ($.Scratch.Get "index") }}
          {{- end }}
          {{- $.Scratch.Add "index" 1 }}
          {{- end }}
          {{- $next := (index $pages (add ($.Scratch.Get "curPosition") 1)) }}
          {{- $prev := (index $pages (sub ($.Scratch.Get "curPosition") 1)) }}

            <div class="navigation">
              <div class="row">
                <div class="col-12 col-md-6">
                  {{- with $prev }}
                    <div class="mx-0 mx-md-4 mt-4 text-start">
                      <a href="{{ .Permalink }}">
                        {{ partial "icon_prev" . }}
                        <span class="text">{{ .Title }}</span>
                      </a>
                    </div>
                  {{- end }}
                </div>
                <div class="col-12 col-md-6">
                  {{- with $next }}
                    <div class="mx-0 mx-md-4 mt-4 text-end">
                      <a href="{{ .Permalink }}">
                        <span class="text">{{ .Title }}</span>
                        {{ partial "icon_next" . }}
                      </a>
                    </div>
                  {{- end }}
                </div>
              </div>
            </div>
          {{ end }}

          {{ if .Site.DisqusShortname }}
            <div class="mt-5 mx-0 mx-md-4 disqus">
              {{ template "_internal/disqus.html" . }}
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
